<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <system.web>



  </system.web>

  <system.webServer>

    <rewrite>

      <rules>

       <!-- <clear /> -->

        <!-- For Example -->

        <!-- Important!!! Rule Name can't be repeated.  -->
        <!--Android 9.0 redirect-->

        <rule name="Rewrite android primary camera" stopProcessing="true">

          <match url="android/api-reference/primary-camera.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="android/api-reference/primary-video.html" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite android dce setting parameter" stopProcessing="true">

          <match url="android/api-reference/auxiliary-DCESettingParameters.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="android/api-reference/primary-video.html" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite android error callback" stopProcessing="true">

          <match url="android/api-reference/interface-errorcallback.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="android/api-reference/primary-video.html" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite android frame decoding" stopProcessing="true">

          <match url="android/api-reference/auxiliary-FrameDecodingParameters.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="android/api-reference/primary-video.html" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite android server verification" stopProcessing="true">

          <match url="android/api-reference/interface-dbrserverlicenseverificationlistener.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="android/api-reference/primary-license.html#initlicense" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite android DMDLS" stopProcessing="true">

          <match url="android/api-reference/auxiliary-DMDLSConnectionParameters.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="android/api-reference/primary-license.html#initlicense" appendQueryString="true"  />

        </rule>

        <!--iOS v9.0 redirect-->
        <rule name="Rewrite ios primary camera" stopProcessing="true">

          <match url="objectivec-swift/api-reference/primary-camera.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="objectivec-swift/api-reference/primary-video.html" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite ios dce setting parameter" stopProcessing="true">

          <match url="objectivec-swift/api-reference/auxiliary-DCESettingParameters.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="objectivec-swift/api-reference/primary-video.html" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite ios error callback" stopProcessing="true">

          <match url="objectivec-swift/api-reference/protocol-dbrerrordelegate.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="objectivec-swift/api-reference/primary-video.html" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite ios frame decoding" stopProcessing="true">

          <match url="objectivec-swift/api-reference/auxiliary-iFrameDecodingParameters.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="objectivec-swift/api-reference/primary-video.html" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite ios server verification" stopProcessing="true">

          <match url="objectivec-swift/api-reference/protocol-dbrserverlicenseverificationdelegate.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="objectivec-swift/api-reference/primary-license.html#initlicense" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite ios DMDLS" stopProcessing="true">

          <match url="objectivec-swift/api-reference/auxiliary-iDMDLSConnectionParameters.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="objectivec-swift/api-reference/primary-license.html#initlicense" appendQueryString="true"  />

        </rule>

        <!--Android 8.x legacy links-->

        <rule name="Rewrite android barcode camera" stopProcessing="true">

          <match url="android/api-reference/BarcodeReader/camera.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="android/api-reference/primary-video.html" appendQueryString="true"  />

        </rule>
        
        <!--Class to class-->
        <rule name="Rewrite android class QRCodeDetails" stopProcessing="true">

          <match url="android/api-reference/class/QRCodeDetails.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="android/api-reference/auxiliary-QRCodeDetails.html" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite android class DMLTSConnectionParameters" stopProcessing="true">

          <match url="android/api-reference/class/DMLTSConnectionParameters.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="android/api-reference/primary-license.html#initlicense" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite android class PDF417Details" stopProcessing="true">

          <match url="android/api-reference/class/PDF417Details.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="android/api-reference/auxiliary-PDF417Details.html" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite android class AztecDetails" stopProcessing="true">

          <match url="android/api-reference/class/AztecDetails.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="android/api-reference/auxiliary-AztecDetails.html" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite android class ExtendedResult" stopProcessing="true">

          <match url="android/api-reference/class/ExtendedResult.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="android/api-reference/auxiliary-ExtendedResult.html" appendQueryString="true"  />

        </rule> <!--5-->

        <rule name="Rewrite android class OneDCodeDetails" stopProcessing="true">

          <match url="android/api-reference/class/OneDCodeDetails.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="android/api-reference/auxiliary-OneDCodeDetails.html" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite android class DCESettingParameters" stopProcessing="true">

          <match url="android/api-reference/class/DCESettingParameters.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="android/api-reference/primary-video.html" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite android class DataMatrixDetails" stopProcessing="true">

          <match url="android/api-reference/class/DataMatrixDetails.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="android/api-reference/auxiliary-DataMatrixDetails.html" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite android class LocalizationResult" stopProcessing="true">

          <match url="android/api-reference/class/LocalizationResult.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="android/api-reference/auxiliary-LocalizationResult.html" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite android class TextResult" stopProcessing="true">

          <match url="android/api-reference/class/TextResult.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="android/api-reference/auxiliary-TextResult.html" appendQueryString="true"  />

        </rule> <!--10-->

        <!--iOS 8.x legacy links-->

        <rule name="Rewrite iOS barcode camera" stopProcessing="true">

          <match url="objectivec-swift/api-reference/methods/camera.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="objectivec-swift/api-reference/primary-video.html" appendQueryString="true"  />

        </rule>
        
        <!--Class to class-->
        <rule name="Rewrite iOS class QRCodeDetails" stopProcessing="true">

          <match url="objectivec-swift/api-reference/class/iQRCodeDetails.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="objectivec-swift/api-reference/auxiliary-iQRCodeDetails.html" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite iOS class DMLTSConnectionParameters" stopProcessing="true">

          <match url="objectivec-swift/api-reference/class/iDMLTSConnectionParameters.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="objectivec-swift/api-reference/primary-license.html#initlicense" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite iOS class PDF417Details" stopProcessing="true">

          <match url="objectivec-swift/api-reference/class/iPDF417Details.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="objectivec-swift/api-reference/auxiliary-iPDF417Details.html" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite iOS class AztecDetails" stopProcessing="true">

          <match url="objectivec-swift/api-reference/class/iAztecDetails.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="objectivec-swift/api-reference/auxiliary-iAztecDetails.html" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite iOS class ExtendedResult" stopProcessing="true">

          <match url="objectivec-swift/api-reference/class/iExtendedResult.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="objectivec-swift/api-reference/auxiliary-iExtendedResult.html" appendQueryString="true"  />

        </rule> <!--5-->

        <rule name="Rewrite iOS class OneDCodeDetails" stopProcessing="true">

          <match url="objectivec-swift/api-reference/class/iOneDCodeDetails.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="objectivec-swift/api-reference/auxiliary-iOneDCodeDetails.html" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite iOS class DCESettingParameters" stopProcessing="true">

          <match url="objectivec-swift/api-reference/class/iDCESettingParameters.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="objectivec-swift/api-reference/primary-video.html" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite iOS class DataMatrixDetails" stopProcessing="true">

          <match url="objectivec-swift/api-reference/class/iDataMatrixDetails.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="objectivec-swift/api-reference/auxiliary-iDataMatrixDetails.html" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite iOS class LocalizationResult" stopProcessing="true">

          <match url="objectivec-swift/api-reference/class/iLocalizationResult.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="objectivec-swift/api-reference/auxiliary-iLocalizationResult.html" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite iOS class TextResult" stopProcessing="true">

          <match url="objectivec-swift/api-reference/class/iTextResult.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="objectivec-swift/api-reference/auxiliary-iTextResult.html" appendQueryString="true"  />

        </rule> <!--10-->

      </rules>

    </rewrite>

  </system.webServer>

</configuration>