<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <system.web>



  </system.web>

  <system.webServer>

    <rewrite>

      <rules>

       <!-- <clear /> -->

        <!-- For Example -->

        <!-- Important!!! Rule Name can't be repeated.  -->

        <rule name="Rewrite android primary camera" stopProcessing="true">

          <match url="android/api-reference/primary-camera.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="android/api-reference/primary-video.html" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite android dce setting parameter" stopProcessing="true">

          <match url="android/api-reference/auxiliary-DCESettingParameters.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="android/api-reference/primary-video.html" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite android error callback" stopProcessing="true">

          <match url="android/api-reference/interface-errorcallback.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="android/api-reference/" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite android frame decoding" stopProcessing="true">

          <match url="android/api-reference/auxiliary-FrameDecodingParameters.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="android/api-reference/primary-video.html" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite android server verification" stopProcessing="true">

          <match url="android/api-reference/interface-dbrserverlicenseverificationlistener.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="android/api-reference/primary-license.html#initlicense" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite android DMDLS" stopProcessing="true">

          <match url="android/api-reference/auxiliary-FrameDecodingParameters.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="android/api-reference/primary-license.html#initlicense" appendQueryString="true"  />

        </rule>

        <!--iOS-->
        <rule name="Rewrite ios primary camera" stopProcessing="true">

          <match url="objectivec-swift/api-reference/primary-camera.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="objectivec-swift/api-reference/primary-video.html" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite ios dce setting parameter" stopProcessing="true">

          <match url="objectivec-swift/api-reference/auxiliary-DCESettingParameters.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="objectivec-swift/api-reference/primary-video.html" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite ios error callback" stopProcessing="true">

          <match url="objectivec-swift/api-reference/interface-errorcallback.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="objectivec-swift/api-reference/" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite ios frame decoding" stopProcessing="true">

          <match url="objectivec-swift/api-reference/auxiliary-FrameDecodingParameters.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="objectivec-swift/api-reference/primary-video.html" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite ios server verification" stopProcessing="true">

          <match url="objectivec-swift/api-reference/interface-dbrserverlicenseverificationlistener.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="objectivec-swift/api-reference/primary-license.html#initlicense" appendQueryString="true"  />

        </rule>

        <rule name="Rewrite ios DMDLS" stopProcessing="true">

          <match url="objectivec-swift/api-reference/auxiliary-FrameDecodingParameters.html" ignoreCase="true" negate="false" />

          <action type="Redirect" url="objectivec-swift/api-reference/primary-license.html#initlicense" appendQueryString="true"  />

        </rule>

      </rules>

    </rewrite>

  </system.webServer>

</configuration>