<li><a href="{{ site.oc }}" class="otherLinkColour">Objective-C & Swift</a>
    <ul>
        <li><a href="{{ site.oc }}user-guide.html" class="otherLinkColour">User Guide</a></li>
        <!--<li><a href="{{ site.oc }}demos-and-samples.html" class="otherLinkColour">Demo and Samples</a></li>-->
        <li><a href="{{ site.oc_api }}index.html" class="otherLinkColour">API Reference</a>
            <ul>
                <li><a href="{{ site.oc_api }}primary-index.html" class="otherLinkColour">DynamsoftBarcodeReader Class</a>
                    <ul>
                        <li><a href="{{ site.oc_api }}primary-initialize.html" class="otherLinkColour">Initialization and Destroy</a></li>
                        <li><a href="{{ site.oc_api }}primary-decode.html" class="otherLinkColour">Decode Methods</a></li>
                        <li><a href="{{ site.oc_api }}primary-camera.html" class="otherLinkColour">Camera Methods</a></li>
                        <li><a href="{{ site.oc_api }}primary-license.html" class="otherLinkColour">License Methods</a></li>
                        <li><a href="{{ site.oc_api }}primary-parameter-and-runtime-settings-advanced.html" class="otherLinkColour">Parameter and Runtime Settings Advanced Methods</a></li>
                        <li><a href="{{ site.oc_api }}primary-parameter-and-runtime-settings-basic.html" class="otherLinkColour">Parameter and Runtime Settings Basic Methods</a></li>
                        <li><a href="{{ site.oc_api }}primary-result.html" class="otherLinkColour">Result Methods</a></li>
                        <li><a href="{{ site.oc_api }}primary-video.html" class="otherLinkColour">Video Methods</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.oc_api }}auxiliary-index.html" class="otherLinkColour">Auxiliary Classes</a>
                    <ul>
                        <li><a href="{{ site.oc_api }}auxiliary-iDMDLSConnectionParameters.html" class="otherLinkColour">License Activation Class</a></li>
                        <li><a href="{{ site.oc_api }}auxiliary-common-classes.html" class="otherLinkColour">Common Classes</a>
                            <ul>
                                <li><a href="{{ site.oc_api }}auxiliary-iDBRPoint.html" class="otherLinkColour">iDBRPoint</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-iQuadrilateral.html" class="otherLinkColour">iQuadrilateral</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-iRegionDefinition.html" class="otherLinkColour">iRegionDefinition</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ site.oc_api }}auxiliary-parameter-index.html" class="otherLinkColour">Parameter Configuration</a>
                            <ul>
                                <li><a href="{{ site.oc_api }}auxiliary-iPublicRuntimeSettings.html" class="otherLinkColour">iPublicRuntimeSettings</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-iFurtherModes.html" class="otherLinkColour">iFurtherModes</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-iFrameDecodingParameters.html" class="otherLinkColour">iFrameDecodingParameters</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-iDCESettingParameters.html" class="otherLinkColour">iDCESettingParameters</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ site.oc_api }}auxiliary-textresult-index.html" class="otherLinkColour">Barcode Result Classes</a>
                            <ul>
                                <li><a href="{{ site.oc_api }}auxiliary-iTextResult.html" class="otherLinkColour">iTextResult</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-iLocalizationResult.html" class="otherLinkColour">iLocalizationResult</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-iExtendedResult.html" class="otherLinkColour">iExtendedResult</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-iAztecDetails.html" class="otherLinkColour">iAztecDetails</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-iDataMatrixDetails.html" class="otherLinkColour">iDataMatrixDetails</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-iOneDCodeDetails.html" class="otherLinkColour">iOneDCodeDetails</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-iPDF417Details.html" class="otherLinkColour">iPDF417Details</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-iQRCodeDetails.html" class="otherLinkColour">iQRCodeDetails</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-iSamplingImageData.html" class="otherLinkColour">iSamplingImageData</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ site.oc_api }}auxiliary-intermediate-index.html" class="otherLinkColour">Intermediate Result Classes</a>
                            <ul>
                                <li><a href="{{ site.oc_api }}auxiliary-iIntermediateResult.html" class="otherLinkColour">iIntermediateResult</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-iContour.html" class="otherLinkColour">iContour</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-iImageData.html" class="otherLinkColour">iImageData</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-iLineSegment.html" class="otherLinkColour">iLineSegment</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-iRegionOfInterest.html" class="otherLinkColour">iRegionOfInterest</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a style="cursor:pointer;color:#3c3c3c">Protocols</a>
                    <ul>
                        <li><a href="{{ site.oc_api }}protocol-dbrtextresultdelegate.html" class="otherLinkColour">DBRTextResultDelegate</a></li>
                        <li><a href="{{ site.oc_api }}protocol-dbrintermediateresultdelegate.html" class="otherLinkColour">DBRIntermediateResultDelegate</a></li>
                        <li><a href="{{ site.oc_api }}protocol-dbrerrordelegate.html" class="otherLinkColour">DBRErrorDelegate</a></li>
                        <li><a href="{{ site.oc_api }}protocol-dbrserverlicenseverificationdelegate.html" class="otherLinkColour">DBRServerLicenseVerificationDelegate</a></li>
                        <li><a href="{{ site.oc_api }}protocol-dmdlslicenseverificationdelegate.html" class="otherLinkColour">DMDLSLicenseVerificationDelegate</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="{{ site.oc_release_notes }}" class="otherLinkColour">Release Notes</a>
            <ul>
                <li><a href="{{ site.oc_release_notes }}ios-8.html" class="otherLinkColour">Version 8.x</a></li>
                <li><a href="{{ site.oc_release_notes }}ios-7.html" class="otherLinkColour">Version 7.6 and below</a></li>
            </ul>
        </li>
        <li><a href="{{ site.oc }}upgrade.html" class="otherLinkColour">Upgrade Instructions</a></li>
    </ul>
</li>