<li><a href="{{ site.oc }}" class="otherLinkColour">Objective-C & Swift</a>
    <ul>
        <li><a href="{{ site.oc }}user-guide.html" class="otherLinkColour">User Guide</a></li>
        <!--<li><a href="{{ site.oc }}demos-and-samples.html" class="otherLinkColour">Demo and Samples</a></li>-->
        <li><a href="{{ site.oc_api }}index.html" class="otherLinkColour">API Reference</a>
            <ul>
                <li><a href="{{ site.oc_api }}primary-index.html" class="otherLinkColour">BarcodeReader Class</a>
                    <ul>
                        <li><a href="{{ site.oc_api }}primary-initialize.html" class="otherLinkColour">Initialization and Destroy</a></li>
                        <li><a href="{{ site.oc_api }}primary-decode.html" class="otherLinkColour">Decode Methods</a></li>
                        <li><a href="{{ site.oc_api }}primary-camera.html" class="otherLinkColour">Camera Methods</a></li>
                        <li><a href="{{ site.oc_api }}primary-license.html" class="otherLinkColour">License Methods</a></li>
                        <li><a href="{{ site.oc_api }}primary-parameter-and-runtime-settings-advanced.html" class="otherLinkColour">Parameter and Runtime Settings Advanced Methods</a></li>
                        <li><a href="{{ site.oc_api }}primary-parameter-and-runtime-settings-basic.html" class="otherLinkColour">Parameter and Runtime Settings Basic Methods</a></li>
                        <li><a href="{{ site.oc_api }}primary-result.html" class="otherLinkColour">Result Methods</a></li>
                        <li><a href="{{ site.oc_api }}primary-video.html" class="otherLinkColour">Video Methods</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.oc_api }}auxiliary-index.html" class="otherLinkColour">Auxiliary Classes</a>
                    <ul>
                        <!--
                        <li><a href="{{ site.oc_api }}auxiliary-iAztecDetails.html" class="otherLinkColour">AztecDetails</a></li>
                        <li><a href="{{ site.oc_api }}auxiliary-iBarcodeReaderException.html" class="otherLinkColour">BarcodeReaderException</a></li>
                        <li><a href="{{ site.oc_api }}auxiliary-iContour.html" class="otherLinkColour">Contour</a></li>
                        <li><a href="{{ site.oc_api }}auxiliary-iDataMatrixDetails.html" class="otherLinkColour">DataMatrixDetails</a></li>
                        <li><a href="{{ site.oc_api }}auxiliary-iDCESettingParameters.html" class="otherLinkColour">DCESettingParameters</a></li>
                        <li><a href="{{ site.oc_api }}auxiliary-iDMLTSConnectionParameters.html" class="otherLinkColour">DMLTSConnectionParameters</a></li>
                        <li><a href="{{ site.oc_api }}auxiliary-iExtendedResult.html" class="otherLinkColour">ExtendedResult</a></li>
                        <li><a href="{{ site.oc_api }}auxiliary-iFrameDecodingParameters.html" class="otherLinkColour">FrameDecodingParameters</a></li>
                        <li><a href="{{ site.oc_api }}auxiliary-iFurtherModes.html" class="otherLinkColour">FurtherModes</a></li>
                        <li><a href="{{ site.oc_api }}auxiliary-iImageData.html" class="otherLinkColour">ImageData</a></li>
                        <li><a href="{{ site.oc_api }}auxiliary-iIntermediateResult.html" class="otherLinkColour">IntermediateResult</a></li>
                        <li><a href="{{ site.oc_api }}auxiliary-iLineSegment.html" class="otherLinkColour">LineSegment</a></li>
                        <li><a href="{{ site.oc_api }}auxiliary-iLocalizationResult.html" class="otherLinkColour">LocalizationResult</a></li>
                        <li><a href="{{ site.oc_api }}auxiliary-iOneDCodeDetails.html" class="otherLinkColour">OneDCodeDetails</a></li>
                        <li><a href="{{ site.oc_api }}auxiliary-iPDF417Details.html" class="otherLinkColour">PDF417Details</a></li>
                        <li><a href="{{ site.oc_api }}auxiliary-iPublicRuntimeSettings.html" class="otherLinkColour">PublicRuntimeSettings</a></li>
                        <li><a href="{{ site.oc_api }}auxiliary-iQRCodeDetails.html" class="otherLinkColour">QRCodeDetails</a></li>
                        <li><a href="{{ site.oc_api }}auxiliary-iQuadrilateral.html" class="otherLinkColour">Quadrilateral</a></li>
                        <li><a href="{{ site.oc_api }}auxiliary-iRegionDefinition.html" class="otherLinkColour">RegionDefinition</a></li>
                        <li><a href="{{ site.oc_api }}auxiliary-iRegionOfInterest.html" class="otherLinkColour">RegionOfInterest</a></li>
                        <li><a href="{{ site.oc_api }}auxiliary-iSamplingImageData.html" class="otherLinkColour">SamplingImageData</a></li>
                        <li><a href="{{ site.oc_api }}auxiliary-iTextResult.html" class="otherLinkColour">TextResult</a></li>
                        -->
                        <li><a href="{{ site.oc_api }}auxiliary-iDMDLSConnectionParameters.html" class="otherLinkColour">License Activation Class</a></li>
                        <li><a href="{{ site.oc_api }}auxiliary-common-classes.html" class="otherLinkColour">Common Classes</a>
                            <ul>
                                <li><a href="{{ site.oc_api }}auxiliary-iDBRPoint.html" class="otherLinkColour">iDBRPoint</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-iQuadrilateral.html" class="otherLinkColour">iQuadrilateral</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-iRegionDefinition.html" class="otherLinkColour">iRegionDefinition</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ site.oc_api }}auxiliary-parameter-index.html" class="otherLinkColour">Parameter Configuration</a>
                            <ul>
                                <li><a href="{{ site.oc_api }}auxiliary-iPublicRuntimeSettings.html" class="otherLinkColour">iPublicRuntimeSettings</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-iFurtherModes.html" class="otherLinkColour">iFurtherModes</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-iFrameDecodingParameters.html" class="otherLinkColour">iFrameDecodingParameters</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-iDCESettingParameters.html" class="otherLinkColour">iDCESettingParameters</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ site.oc_api }}auxiliary-textresult-index.html" class="otherLinkColour">Barcode Result Classes</a>
                            <ul>
                                <li><a href="{{ site.oc_api }}auxiliary-iTextResult.html" class="otherLinkColour">iTextResult</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-iLocalizationResult.html" class="otherLinkColour">iLocalizationResult</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-iExtendedResult.html" class="otherLinkColour">iExtendedResult</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-iAztecDetails.html" class="otherLinkColour">iAztecDetails</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-iDataMatrixDetails.html" class="otherLinkColour">iDataMatrixDetails</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-iOneDCodeDetails.html" class="otherLinkColour">iOneDCodeDetails</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-iPDF417Details.html" class="otherLinkColour">iPDF417Details</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-iQRCodeDetails.html" class="otherLinkColour">iQRCodeDetails</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-iSamplingImageData.html" class="otherLinkColour">iSamplingImageData</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ site.oc_api }}auxiliary-intermediate-index.html" class="otherLinkColour">Intermediate Result Classes</a>
                            <ul>
                                <li><a href="{{ site.oc_api }}auxiliary-iIntermediateResult.html" class="otherLinkColour">iIntermediateResult</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-iContour.html" class="otherLinkColour">iContour</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-iImageData.html" class="otherLinkColour">iImageData</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-iLineSegment.html" class="otherLinkColour">iLineSegment</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-iRegionOfInterest.html" class="otherLinkColour">iRegionOfInterest</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="{{ site.oc_api }}protocol.html" class="otherLinkColour">Protocols</a>
                    <ul>
                        <li><a href="{{ site.oc_api }}protocol-dbrtextresultdelegate.html" class="otherLinkColour">DBRTextResultDelegate</a></li>
                        <li><a href="{{ site.oc_api }}protocol-dbrintermediateresultdelegate.html" class="otherLinkColour">DBRIntermediateResultDelegate</a></li>
                        <li><a href="{{ site.oc_api }}protocol-dbrerrordelegate.html" class="otherLinkColour">DBRErrorDelegate</a></li>
                        <li><a href="{{ site.oc_api }}protocol-dbrserverlicenseverificationdelegate.html" class="otherLinkColour">DBRServerLicenseVerificationDelegate</a></li>
                        <li><a href="{{ site.oc_api }}protocol-dmdlslicenseverificationdelegate.html" class="otherLinkColour">DMDLSLicenseVerificationDelegate</a></li>
                    </ul>
                </li>
                <!--
                <li><a href="{{ site.oc_api }}auxiliary-index.html" class="otherLinkColour">Test Class</a>
                    <ul>
                        <li><a href="{{ site.oc_api }}auxiliary-DMLTSConnectionParameters.html" class="otherLinkColour">License configuration</a>
                            <li><a href="{{ site.oc_api }}auxiliary-DMLTSConnectionParameters.html" class="otherLinkColour">DMLTSConnectionParameters</a></li>
                        </li>
                        <li><a href="{{ site.oc_api }}auxiliary-BarcodeReaderException.html" class="otherLinkColour">Decode Parameter Configuration</a>
                            <ul>
                                <li><a href="{{ site.oc_api }}auxiliary-BarcodeReaderException.html" class="otherLinkColour">BarcodeReaderException</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-PublicRuntimeSettings.html" class="otherLinkColour">PublicRuntimeSettings</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-FurtherModes.html" class="otherLinkColour">FurtherModes</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-RegionDefinition.html" class="otherLinkColour">RegionDefinition</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-DCESettingParameters.html" class="otherLinkColour">DCESettingParameters</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-FrameDecodingParameters.html" class="otherLinkColour">FrameDecodingParameters</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ site.oc_api }}auxiliary-SamplingImageData.html" class="otherLinkColour">Attributes</a>
                            <ul>
                                <li><a href="{{ site.oc_api }}auxiliary-SamplingImageData.html" class="otherLinkColour">SamplingImageData</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-Quadrilateral.html" class="otherLinkColour">Quadrilateral</a></li>
                            </ul>
                        </li>
                        
                        <li><a href="{{ site.oc_api }}auxiliary-IntermediateResult.html" class="otherLinkColour">IntermediateResult</a>
                            <ul>
                                <li><a href="{{ site.oc_api }}auxiliary-IntermediateResult.html" class="otherLinkColour">IntermediateResult</a></li>                                
                                <li><a href="{{ site.oc_api }}auxiliary-Contour.html" class="otherLinkColour">Contour</a></li>                              
                                <li><a href="{{ site.oc_api }}auxiliary-ImageData.html" class="otherLinkColour">ImageData</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-LineSegment.html" class="otherLinkColour">LineSegment</a></li>                                
                                <li><a href="{{ site.oc_api }}auxiliary-LocalizationResult.html" class="otherLinkColour">LocalizationResult</a></li>                                
                                <li><a href="{{ site.oc_api }}auxiliary-RegionOfInterest.html" class="otherLinkColour">RegionOfInterest</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ site.oc_api }}auxiliary-TextResult.html" class="otherLinkColour">TextResult</a>
                            <ul>
                                <li><a href="{{ site.oc_api }}auxiliary-TextResult.html" class="otherLinkColour">TextResult</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-AztecDetails.html" class="otherLinkColour">AztecDetails</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-DataMatrixDetails.html" class="otherLinkColour">DataMatrixDetails</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-OneDCodeDetails.html" class="otherLinkColour">OneDCodeDetails</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-PDF417Details.html" class="otherLinkColour">PDF417Details</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-QRCodeDetails.html" class="otherLinkColour">QRCodeDetails</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-LocalizationResult.html" class="otherLinkColour">LocalizationResult</a></li>
                                <li><a href="{{ site.oc_api }}auxiliary-ExtendedResult.html" class="otherLinkColour">ExtendedResult</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                -->
                <!--<li><a href="{{ site.oc_api }}Delegate.html" class="otherLinkColour">Delegates</a></li>-->
            </ul>
        </li>
        <li><a href="{{ site.oc_release_notes }}" class="otherLinkColour">Release Notes</a>
            <ul>
                <li><a href="{{ site.oc_release_notes }}ios-8.html" class="otherLinkColour">Version 8.x</a></li>
                <li><a href="{{ site.oc_release_notes }}ios-7.html" class="otherLinkColour">Version 7.6 and below</a></li>
            </ul>
        </li>
        <li><a href="{{ site.oc }}upgrade.html" class="otherLinkColour">Upgrade Instructions</a></li>
    </ul>
</li>