<li><a href="{{ site.android }}" class="otherLinkColour">Java (Android)</a>
    <ul>
        <li><a href="{{ site.android }}user-guide.html" class="otherLinkColour">User Guide</a></li>
        <li><a href="{{ site.android_api }}index.html" class="otherLinkColour">API Reference</a>
            <ul>
                <li><a href="{{ site.android_api }}primary-index.html" class="otherLinkColour">BarcodeReader Class</a>
                    <ul>
                        <li><a href="{{ site.android_api }}primary-initialize-and-destroy.html" class="otherLinkColour">Initialization and Destroy</a></li>
                        <li><a href="{{ site.android_api }}primary-decode.html" class="otherLinkColour">Decode Methods</a></li>
                        <li><a href="{{ site.android_api }}primary-license.html" class="otherLinkColour">License Methods</a></li>
                        <li><a href="{{ site.android_api }}primary-parameter-and-runtime-settings-advanced.html" class="otherLinkColour">Parameter and Runtime Settings Advanced Methods</a></li>
                        <li><a href="{{ site.android_api }}primary-parameter-and-runtime-settings-basic.html" class="otherLinkColour">Parameter and Runtime Settings Basic Methods</a></li>
                        <li><a href="{{ site.android_api }}primary-result.html" class="otherLinkColour">Result Methods</a></li>
                        <li><a href="{{ site.android_api }}primary-status-retrieval.html" class="otherLinkColour">Status Retrieval Methods</a></li>
                        <li><a href="{{ site.android_api }}primary-video.html" class="otherLinkColour">Video Methods</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.android_api }}auxiliary-index.html" class="otherLinkColour">Auxiliary Classes</a>
                    <ul>
                        <li><a href="{{ site.android_api }}auxiliary-DMDLSConnectionParameters.html" class="otherLinkColour">License Activation Class</a></li>
                        <li><a href="{{ site.android_api }}auxiliary-common-classes.html" class="otherLinkColour">Common Classes</a>
                            <ul>
                                <li><a href="{{ site.android_api }}auxiliary-Point.html" class="otherLinkColour">Point</a></li>
                                <li><a href="{{ site.android_api }}auxiliary-Quadrilateral.html" class="otherLinkColour">Quadrilateral</a></li>
                                <li><a href="{{ site.android_api }}auxiliary-RegionDefinition.html" class="otherLinkColour">RegionDefinition</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ site.android_api }}auxiliary-parameter-index.html" class="otherLinkColour">Parameter Configuration</a>
                            <ul>
                                <li><a href="{{ site.android_api }}auxiliary-PublicRuntimeSettings.html" class="otherLinkColour">PublicRuntimeSettings</a></li>
                                <li><a href="{{ site.android_api }}auxiliary-FurtherModes.html" class="otherLinkColour">FurtherModes</a></li>
                                <li><a href="{{ site.android_api }}auxiliary-FrameDecodingParameters.html" class="otherLinkColour">FrameDecodingParameters</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ site.android_api }}auxiliary-textresult-index.html" class="otherLinkColour">Barcode Result Classes</a>
                            <ul>
                                <li><a href="{{ site.android_api }}auxiliary-TextResult.html" class="otherLinkColour">TextResult</a></li>
                                <li><a href="{{ site.android_api }}auxiliary-LocalizationResult.html" class="otherLinkColour">LocalizationResult</a></li>
                                <li><a href="{{ site.android_api }}auxiliary-ExtendedResult.html" class="otherLinkColour">ExtendedResult</a></li>
                                <li><a href="{{ site.android_api }}auxiliary-AztecDetails.html" class="otherLinkColour">AztecDetails</a></li>
                                <li><a href="{{ site.android_api }}auxiliary-DataMatrixDetails.html" class="otherLinkColour">DataMatrixDetails</a></li>
                                <li><a href="{{ site.android_api }}auxiliary-OneDCodeDetails.html" class="otherLinkColour">OneDCodeDetails</a></li>
                                <li><a href="{{ site.android_api }}auxiliary-PDF417Details.html" class="otherLinkColour">PDF417Details</a></li>
                                <li><a href="{{ site.android_api }}auxiliary-QRCodeDetails.html" class="otherLinkColour">QRCodeDetails</a></li>
                                <li><a href="{{ site.android_api }}auxiliary-SamplingImageData.html" class="otherLinkColour">SamplingImageData</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ site.android_api }}auxiliary-intermediate-index.html" class="otherLinkColour">Intermediate Result Classes</a>
                            <ul>
                                <li><a href="{{ site.android_api }}auxiliary-IntermediateResult.html" class="otherLinkColour">IntermediateResult</a></li>
                                <li><a href="{{ site.android_api }}auxiliary-Contour.html" class="otherLinkColour">Contour</a></li>
                                <li><a href="{{ site.android_api }}auxiliary-ImageData.html" class="otherLinkColour">ImageData</a></li>
                                <li><a href="{{ site.android_api }}auxiliary-LineSegment.html" class="otherLinkColour">LineSegment</a></li>
                                <li><a href="{{ site.android_api }}auxiliary-RegionOfInterest.html" class="otherLinkColour">RegionOfInterest</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ site.android_api }}auxiliary-BarcodeReaderException.html" class="otherLinkColour">BarcodeReaderException</a></li>
                    </ul>
                </li>
                <li><a style="cursor:pointer;color:#3c3c3c">Interfaces</a>
                    <ul>
                        <li><a href="{{ site.android_api }}interface-textresultcallback.html" class="otherLinkColour">TextResultCallback</a></li>
                        <li><a href="{{ site.android_api }}interface-intermediateresultcallback.html" class="otherLinkColour">IntermediateResultCallback</a></li>
                        <li><a href="{{ site.android_api }}interface-errorcallback.html" class="otherLinkColour">ErrorCallback</a></li>
                        <li><a href="{{ site.android_api }}interface-dbrserverlicenseverificationlistener.html" class="otherLinkColour">DBRServerLicenseVerificationListener</a></li>
                        <li><a href="{{ site.android_api }}interface-dbrdlslicenseverificationlistener.html" class="otherLinkColour">DBRLTSLicenseVerificationListener</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="{{ site.android_release_notes }}" class="otherLinkColour">Release Notes</a>
            <ul>
                <li><a href="{{ site.android_release_notes }}android-8.html" class="otherLinkColour">Version 8.x</a></li>
                <li><a href="{{ site.android_release_notes }}android-7.html" class="otherLinkColour">Version 7.6.1 and below</a></li>
            </ul>
        </li>
    </ul>
</li>
