<li><a href="{{ site.oc }}" class="otherLinkColour">Objective-C & Swift</a>
    <ul>
        {%- if page.url contains '/objectivec-swift/' or page.url contains '/objectivec-swift-v' -%}
        <li><a href="{{ site.oc }}user-guide.html" class="otherLinkColour">User Guide</a>
            <ul>
                <li><a href="{{ site.oc }}user-guide.html" class="otherLinkColour">Getting Started</a></li>
                <li><a href="{{ site.oc }}upgrade.html" class="otherLinkColour">Upgrade</a></li>
            </ul>
        </li>
        <li><a style="cursor:pointer;color:#3c3c3c">Primary APIs</a>
            <ul>
                <li><a href="{{ site.oc_api }}primary-initialize.html" class="otherLinkColour">Initialize Methods</a></li>
                <li><a href="{{ site.oc_api }}primary-decode.html" class="otherLinkColour">Decode Methods</a></li>
                <li><a href="{{ site.oc_api }}primary-camera.html" class="otherLinkColour">Camera Methods</a></li>
                <li><a href="{{ site.oc_api }}primary-license.html" class="otherLinkColour">License Methods</a></li>
                <li><a href="{{ site.oc_api }}primary-parameter-and-runtime-settings-advanced.html" class="otherLinkColour">Parameter and Runtime Settings Advanced Methods</a></li>
                <li><a href="{{ site.oc_api }}primary-parameter-and-runtime-settings-basic.html" class="otherLinkColour">Parameter and Runtime Settings Basic Methods</a></li>
                <li><a href="{{ site.oc_api }}primary-result.html" class="otherLinkColour">Result Methods</a></li>
                <li><a href="{{ site.oc_api }}primary-video.html" class="otherLinkColour">Video Methods</a></li>
            </ul>
        </li>
        <li><a style="cursor:pointer;color:#3c3c3c">Auxiliary APIs</a>
            <ul>
                <li><a href="{{ site.oc_api }}auxiliary-iAztecDetails.html" class="otherLinkColour">iAztecDetails</a></li>
                <li><a href="{{ site.oc_api }}auxiliary-iContour.html" class="otherLinkColour">iContour</a></li>
                <li><a href="{{ site.oc_api }}auxiliary-iDataMatrixDetails.html" class="otherLinkColour">iDataMatrixDetails</a></li>
                <li><a href="{{ site.oc_api }}auxiliary-iDBRPoint.html" class="otherLinkColour">iDBRPoint</a></li>
                <li><a href="{{ site.oc_api }}auxiliary-iDCESettingParameters.html" class="otherLinkColour">iDCESettingParameters</a></li>
                <li><a href="{{ site.oc_api }}auxiliary-iDMLTSConnectionParameters.html" class="otherLinkColour">iDMLTSConnectionParameters</a></li>
                <li><a href="{{ site.oc_api }}auxiliary-iExtendedResult.html" class="otherLinkColour">iExtendedResult</a></li>
                <li><a href="{{ site.oc_api }}auxiliary-iFrameDecodingParameters.html" class="otherLinkColour">iFrameDecodingParameters</a></li>
                <li><a href="{{ site.oc_api }}auxiliary-iFurtherModes.html" class="otherLinkColour">iFurtherModes</a></li>
                <li><a href="{{ site.oc_api }}auxiliary-iImageData.html" class="otherLinkColour">iImageData</a></li>
                <li><a href="{{ site.oc_api }}auxiliary-iIntermediateResult.html" class="otherLinkColour">iIntermediateResult</a></li>
                <li><a href="{{ site.oc_api }}auxiliary-iLineSegment.html" class="otherLinkColour">iLineSegment</a></li>
                <li><a href="{{ site.oc_api }}auxiliary-iLocalizationResult.html" class="otherLinkColour">iLocalizationResult</a></li>
                <li><a href="{{ site.oc_api }}auxiliary-iOneDCodeDetails.html" class="otherLinkColour">iOneDCodeDetails</a></li>
                <li><a href="{{ site.oc_api }}auxiliary-iPDF417Details.html" class="otherLinkColour">iPDF417Details</a></li>
                <li><a href="{{ site.oc_api }}auxiliary-iPublicRuntimeSettings.html" class="otherLinkColour">iPublicRuntimeSettings</a></li>
                <li><a href="{{ site.oc_api }}auxiliary-iQRCodeDetails.html" class="otherLinkColour">iQRCodeDetails</a></li>
                <li><a href="{{ site.oc_api }}auxiliary-iQuadrilateral.html" class="otherLinkColour">iQuadrilateral</a></li>
                <li><a href="{{ site.oc_api }}auxiliary-iRegionDefinition.html" class="otherLinkColour">iRegionDefinition</a></li>
                <li><a href="{{ site.oc_api }}auxiliary-iRegionOfInterest.html" class="otherLinkColour">iRegionOfInterest</a></li>
                <li><a href="{{ site.oc_api }}auxiliary-iSamplingImageData.html" class="otherLinkColour">iSamplingImageData</a></li>
                <li><a href="{{ site.oc_api }}auxiliary-iTextResult.html" class="otherLinkColour">iTextResult</a></li>
            </ul>
        </li>
        <li><a href="{{ site.oc_release_notes }}" class="otherLinkColour">Release Notes</a>
            <ul>
                <li><a href="{{ site.oc_release_notes }}ios-8.html" class="otherLinkColour">Version 8.x</a></li>
                <li><a href="{{ site.oc_release_notes }}ios-7.html" class="otherLinkColour">Version 7.6 and below</a></li>
            </ul>
        </li>
        {%- endif -%}
    </ul>
</li>